# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Django
*.sqlite3
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
migrations/

# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/
